<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	   default-autowire="byName">


	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters>
			<!-- 配置返回json -->
			<bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                <!--<property name="objectMapper" ref="objectMapper">-->
                <!--</property>-->
                 <property name="supportedMediaTypes">
	             <list>
	               <value>application/json</value>
	               <value>text/json</value>
	             </list>
	          </property>
             </bean>
             <bean class="org.springframework.http.converter.StringHttpMessageConverter"></bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="conversionService"
		  class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
		<!--<property name="formatterRegistrars">-->
			<!--<bean class="com.jd.common.springmvc.converter.DefaultFormatterRegistrar"/>-->
		<!--</property>-->
		<!--<property name="converters">    &lt;!&ndash; 日期转换 &ndash;&gt;-->
			<!--<set>-->
				<!--<bean class="com.jd.b2b.invoice.center.common.utils.DateConverter" />-->
			<!--</set>-->
		<!--</property>-->
	</bean>


	<!-- 模板信息设置 -->
	<bean id="velocityConfigurer"
		class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/vm/" />
		<property name="configLocation" value="classpath:velocity.properties" />
	</bean>


	<!-- 设置视图解析工具 -->
	<!--<bean id="viewResolver" class="com.jd.b2b.invoice.center.web.view.JdVelocityLayoutViewResolver">-->
		<!--<property name="layoutUrl" value="layout/default.vm"/>-->
		<!--<property name="cache" value="false"/>-->
		<!--<property name="suffix" value=".vm"/>-->

		<!--<property name="exposeSpringMacroHelpers" value="true"/>-->
		<!--<property name="dateToolAttribute" value="dateTool"/>-->
		<!--<property name="numberToolAttribute" value="numberTool"/>-->
		<!--&lt;!&ndash; Merge urlBuilderMap to view context for convenience. You can put your-->
            <!--tools which must be thread safe. &ndash;&gt;-->
		<!--<property name="attributesMap" ref="_urlBuilderMap"/>-->
		<!--<property name="contentType" value="text/html;charset=UTF-8"/>-->
		<!--<property name="velocityUrl" ref="velocityUrl"/>-->
		<!--<property name="velocityTools" ref="velocityTools"/>-->
	<!--</bean>-->


	<bean id="velocityUrl" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!--&lt;!&ndash;本系统自己地址 &ndash;&gt;-->
				<!--<entry key="homeModule">-->
					<!--<bean class="com.jd.common.web.url.JdUrl">-->
						<!--<property name="url" value="http://${sso.client.domain}/"/>-->
						<!--<property name="charsetName" value="UTF-8"/>-->
					<!--</bean>-->
				<!--</entry>-->
			</map>
		</constructor-arg>
	</bean>
	<!-- 自定义工具bean -->
	<bean id="velocityTools" class="java.util.HashMap">
		<constructor-arg>
			<map>
				<!--<entry key="stringUtils">-->
					<!--<bean class="org.apache.commons.lang.StringUtils" />-->
				<!--</entry>-->
				<!--<entry key="esc">-->
					<!--<bean class="org.apache.commons.lang.StringEscapeUtils" />-->
				<!--</entry>-->
				<!--<entry key="dateUtil">-->
					<!--<bean class="com.jd.b2b.invoice.center.web.view.DateUtil" />-->
				<!--</entry>-->
			</map>
		</constructor-arg>
	</bean>


	<!-- locale related -->
	<bean id="localeResolver"
		  class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
		<property name="cookieName" value="_clientlocale"/>
		<property name="defaultLocale" value="zh_CN"/>
		<property name="cookieMaxAge" value="2147483647"/>
	</bean>

	<!-- 对静态资源文件的访问:使用默认的Servlet来响应静态文件 -->
	<mvc:default-servlet-handler />
</beans>
